/* custom.css */
.no-spinner {
  -moz-appearance: textfield; /* Firefox */
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Webkit browsers like Chrome, Safari */
  margin: 0; /* Adjust layout if needed */
}
